@import url("https://fonts.googleapis.com/css?family=ABeeZee|Crete+Round");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
   
    font-family: 'Crete Round', 'Times New Roman', Times, serif;
}

h3{

    font-family: 'Crete Round', 'Times New Roman', Times, serif;
}


header {
    border-bottom: 2.8rem solid #ED2939;
    background-color: #CC7953;
    color: azure;
    text-align: center;
    font-family: 'Crete Round', 'Times New Roman', Times, serif;
}

body {
    background-color: #5F7742;
}


p {
    font-size: 2.23rem;
    padding: 1rem 2rem;
    font-family: ABeeZee, Verdana, Geneva, sans-serif;
}


.page{
    display: none;
    text-align: center;
}

.active {
    display: block;
}

.num_list{
    display:inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    border-radius: 30px; 
    border-radius: 30px;

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.4em;
    align-content: center;
    font-family: ABeeZee, Verdana, Geneva, sans-serif;
}
#digits {
    width: 10%;
    font-size: 1.20rem;
}

#max {
    width: 10%;
    font-size: 1.20rem;
}

#btnSend{
    font-size: 2.23rem;
}

#btnBack{
    font-size: 2.23rem;
}
